/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html, body {
  width: 100%;
  height: 100%;
  background-color: #111111;
  color: #dadada;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

main h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

main h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #f39c12;
}

.controls {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.controls label {
  font-size: 1.5rem;
}

.controls select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

.controls button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #f39c12;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#undo-move {
  background-color: #3498db;
}

#undo-move:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.controls button:hover:not(:disabled) {
  opacity: 0.9;
}

.status {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  padding-block: 0.5rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.board {
  display: grid;
  grid-gap: 1px;
  padding: 2px;
}

.cell {
  width: 4rem;
  height: 4rem;
  border: 2px solid #fbfbff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: crimson;
  color: #f8f8f8;
}

.cell:hover {
  background-color: #ff2651;
}